{
  "owner": "the owner of the repo",
  "repo": "the name of the repo",
  "githubApiToken": "yourapicred",
  "numIssuesPerPerson": 2,
  "numIssuesToPickFrom": "optional constrainst, remove to pull from all issues",
  "assignees": [
    "Alice",
    "Bob"
  ],
  "message": "Optional messsage that will be posted on the assigned issue. You can refer to the @${assignee}.",
  "additionalQueryParams": "extra github search params to constrain the search by",
  "labelsToAdd": ["Labels", "To", "Add", "To", "Picked", "Tickets"],
  "dryRun": false
}
