{
  "owner": "the owner of the repo",
  "repo": "the name of the repo",
  "githubApiToken": "yourapicred",
  "numIssuesPerPerson": 2,
  "numIssuesToPickFrom": "optional constraint, remove to pull from all issues",
  "assignees": [
    "Alice",
    "Bob"
  ],
  "message": "Optional message that will be posted on the assigned issue. Instances of @@ will be replaced by the assignee username.",
  "additionalQueryParams": "extra github search params to constrain the search by",
  "labelsToAdd": ["Labels", "To", "Add", "To", "Picked", "Tickets"],
  "numDaysOld": "Only assign issues that haven't been updated since numDaysOld days. Default is 0 (up to today)",
  "dryRun": true
}
